<header
  class="flex shadow-md py-4 px-4 sm:px-10 bg-white font-[sans-serif] min-h-[70px] tracking-wide relative z-50 w-screen"
>
  <div class="flex items-center justify-between gap-5 w-full">
    <a href="/"><img src="assets/logo.png" alt="logo" class="w-36" /> </a>
    <div class="flex max-lg:ml-auto space-x-4">
      <button
        class="px-4 py-2 text-sm rounded-full font-bold text-gray-500 border-2 bg-transparent hover:bg-gray-50 transition-all ease-in-out duration-300"
      >
        Connexion
      </button>
      <button
        class="px-4 py-2 text-sm rounded-full font-bold text-white border-2 border-primary-500 bg-primary-500 transition-all ease-in-out duration-300 hover:bg-transparent hover:text-primary-500"
      >
        Inscription
      </button>
    </div>
  </div>
</header>
