<div class="flex">
  <!-- Proposition -->
  <div class="flex justify-center w-full justify-between">
    @for (img of images; track img) {
    <app-card
      [image]="img"
      (click)="onClick(img)"
      class="hover:cursor-pointer m-1 border-2 {{
        isSelected(img) ? ' border-primary-500' : 'border-transparent'
      }}"
    ></app-card>
    }
  </div>
  <div>{{ selectedImg }}</div>
  <!-- preview -->
  @if(preview){
  <div>
    <app-card [image]="selectedImg[selectedImg.length - 1]"></app-card>
  </div>
  }
</div>
